@page
@model ContactsHub.Pages.Friends.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Friends[0].FriendUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Friends) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FriendUser.UserName)
            </td>
            <td>
                <a asp-page="./Contacts" asp-route-id="@item.Id">Contacts</a> |
                <a asp-page="./Remove" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
