@page
@model ContactsHub.Pages.Friends.RemoveModel

@{
    ViewData["Title"] = "Remove";
}

<h1>Remove</h1>

<h3>Are you sure you want to remove your friend?</h3>
<div>
    <h4>Friend</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Friend.FriendUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Friend.FriendUser.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Friend.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
